<nav class="navbar navbar-default" style="margin-bottom: 0px">
  <div class="container-fluid">
    <div class="navbar-header">
      
      <a class="navbar-brand" ng-href="/">Eat36Five</a>
    </div><!-- end of navbar header -->
  </div><!-- end of container-fluid -->
</nav><!-- end of navigation bar -->